<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <div class="bold-text mb-22">Sardar Vallabhbhai Patel High School, Khetiwadi (Balshala)
                    </div>
                    <ul class="desc mt-10" style="list-style-type: disc;">
                        <li>A blooming spring overflowing with natural beauty</li>
                        <li>A fluent flowing source of knowledge</li>
                        <li>Accommodation of values and emotions</li>
                        <li>A flowing balance of positive attitude</li>
                        <li>Synthesis of harmony and unity</li>
                        <li>Born of respect and affection</li>
                        <li>Academy of excellent character building</li>
                    </ul>
                </div>
                <div class="btn-part mt-10">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->