.btn-outline-primary {
    color: #3b4e06;
    border-color: #3b4e06;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #3b4e06;
    border-color: #3b4e06;
}
.btn-outline-primary:active {
    color: #fff;
    background-color: #3b4e06;
    border-color: #3b4e06;
}